<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Programa Ya</title>
</head>

<body>
    <header class="header">
        <div class="header__div">
            <p class="header__div--logo">ProgramaYa!</p>
            <nav class="header__nav">
                <a href="#somosProYa">Quienes somos</a>
                <a href="#nuestrosprogramas">Nuestros programas</a>
                <a href="#caracteristicas">Caracteristicas</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="banner" id="somosProYa">
            <h1>Aprende a Programar <br> con los Mejores</h1>
            <button>APLICA YA!</button>
        </section>
        <section class="somosProYa">
            <div class="somosProYa__container">
            <div class="somosProYa__container__img"></div>
            <div class="somosProYa__texto">
                <h2>Somos <span class="color--acento">ProgramaYa!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi placeat necessitatibus repudiandae
                    accusantium similique totam natus est at rerum, pariatur, officiis iure dolore assumenda fugiat ipsa
                    deserunt laborum molestiae! Rem!</p>
            </div>
            </div>
        </section>

        <section class="nuestrosprogramas" id="nuestrosprogramas">
            <div class="nuestrosprogramas--div">
                <h2>Nuestros Programas</h2>
                <div class="programas">
                    <div class="carta">
                        <h3>Programador Front-end</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ratione voluptatibus
                            consequatur
                            ad impedit nihil non ipsum necessitatibus, quia recusandae qui rerum commodi officia aperiam
                            consectetur. Quas dolore adipisci delectus.</p>
                        <button>+ Info</button>
                    </div>
                    <div class="carta">
                        <h3>Programador Full-Stack</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ratione voluptatibus
                            consequatur
                            ad impedit nihil non ipsum necessitatibus, quia recusandae qui rerum commodi officia aperiam
                            consectetur. Quas dolore adipisci delectus.</p>
                        <button>+ Info</button>
                    </div>
                    <div class="carta">
                        <h3>Programador Phyton</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ratione voluptatibus
                            consequatur
                            ad impedit nihil non ipsum necessitatibus, quia recusandae qui rerum commodi officia aperiam
                            consectetur. Quas dolore adipisci delectus.</p>
                        <button>+ Info</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="caracteristicas" id="caracteristicas">
            <div class="caracteristicas__div">
                <ul>
                    <li>100% online</a></li>
                    <li>Flexibilidad de horario</a></li>
                    <li>Soporte 1:1</a></li>
                    <li>Asistencia financiera</a></li>
                </ul>
            </div>
        </section>

        <section class="aplicaya" id="aplicaya">
            <h2>Listo para programar?</h2>
            <button>APLICA YA!</button>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <p>&copy Programa Ya 2022</p>
        </div>
    </footer>
</body>

</html>